@import url('../node_modules/dota2-minimap-hero-sprites/assets/stylesheets/dota2minimapheroes.css');

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0deg 0% 0%);
}
