.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 50vw;
  background-color: hsla(0, 0%, 25%, 0.8);
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 12px;

  h1{
    font-size: 4rem;
  }
}
